{% extends "navbar_template.html" %}

{% block content %}
<br>
<br>
<h1>Doctors</h1>

<div class="container" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px;">
    {% for i in doc %}
    <div class="doctorCard" style="border: 1px solid black;width: fit-content;">
        <img src="{{url_for('static', filename='user-solid-full.svg')}}"  alt="profile">
        <div class="doctor_info">
            <h3>Name : {{doc[i]['Name']}}</h3>
            <h5 style="font-size: 1.1em;">Specialization: {{doc[i]['Specialisation']}}</h5>
            <div class="docBtn">
                <button>Profile</button>
                <button>Book Appointment</button>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>
{% endblock %}