{% extends "navbar_template.html" %}

{% block content %}

<div class="container">
  <div class="column column-1"></div>
  <div class="column column-2">
    <h1>Signin</h1>
      <div class="formRow formRow-1"><input type="text" placeholder="username" name="username" type="text"></div>
      <div class="formRow formRow-2"><input type="text" placeholder="password" name="password" type="password"></div>
      <p>Already have an account? <a href="login">Login</a></p>
      <div class="formRow formRow-3"><input type="submit" value="Login" style="height: 5vh; width: 10vw;"></div>
   </div>
  <div class="column column-3"></div>
</div>

<style>
/* General column Styling */
.column {
  background-color: var(--accent-primary);
  color: rgb(54, 53, 53);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 6px;
}

.container {
  display: grid;
  height: 75vh;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: flex-start;
  align-items: stretch;
}

.column h1{
  margin-bottom: 0;
}

.column-2{
    display: flex;
    gap: 2.5vh;
    flex-direction: column;
}

.column div input{
    border-radius: 15px;
    border: 1px solid black;
    padding: 7.5px;
}
</style>

{% endblock %}